body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Banner Section */

#banner{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
}

.nav{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.nav h1{
    font-size: 24px;
    color: #f9faf8;
}

.nav ul{
  display: flex; 
  gap: 20px;
  list-style: none;
  
}

.banner__content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.banner__content img{
    margin-top: 40px;
}

.banner__content h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.banner__content-text{
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
}

.banner__content-text button{
    align-self: flex-start;
    background-color: #3882f6;
    padding: 10px 30px;
    border-radius: 10px;
    border-style: none;
    color: #f9faf8;
    font-weight: 500;
    transition: 0.2s;
}

.banner__content-text button:hover{
    transform: scale(1.1) perspective(1px);
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.banner__content-text p{
    margin-top: -15px ;
    margin-bottom: 30px;
    font-size: 18px;
    color: #e5e7eb;
}

/* Banner Section End */

/* Info Section */

#info{
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
}

#info h1{
    flex-shrink: 0;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info__content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.info__content-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
}

.box{
    box-sizing: border-box;
    border-color: #3882f6;
    border-radius: 10px;
    border: 10px;
    background-color: #e5e7eb;
    height: 250px;
    width: 250px;
    transition: 0.2s;
}

.box:hover{
    transform: scale(1.05) perspective(1px);
}

/* Info Section End */

/* Quote Section */

#quote{
    background-color: #e5e7eb;
    display: flex;
    flex-basis: 500px;
    align-items: center;
    justify-content: center;
}

.quote__container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote__container p{
    font-size: 46px;
    font-weight:lighter;
    color: #1F2937;
}

.quote__container h1{
    margin: -20px 20px 0 0;
    align-self: flex-end;
    font-size: 30px;
}

/* Quote Section End */

/* Footer Section */

#footer{
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
    justify-content: space-between;
}

.cta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.cta__container{
    background-color: #3882f6;
    box-sizing: border-box;
    width: 1000px;
    height: 200px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cta__container button{
    background-color:#3882f6;
    padding: 10px 30px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    color: white;
    font-weight: 500;
    transition: 0.2s;
}

.cta__container button:hover{
    transform: scale(1.1) perspective(1px);
}

.cta__container-text h2{
 color: #f9faf8;
 font-size: 24px;
}

.cta__container-text p{
 margin-top: -2px;
 color: white;
 font-size: 18px;
}

.footer{
    flex-shrink: 0;
    text-align: center;
    background-color: #1F2937;
    color: #f9faf8;
}

/* Footer Section End*/